<turbo-stream action="replace" target="player">
    <template>
        <div id="player" {{ turbo_stream_listen('player-status') }}>
            {% include 'player/audios_list.html.twig' %}
            {% include 'player/player_controls.html.twig' %}
        </div>
    </template>
</turbo-stream>
