<div class="queue-controls">
    <form action="{{ path('player.play.queue') }}" method="post">
        <button class="action" title="Reproducir toda la cola">
            <span>R</span>
        </button>
    </form>

    <form action="{{ path('player.clear') }}" method="post">
        <input type="hidden" name="_method" value="delete">

        <button class="action" title="Vaciar la cola de reproducción">
            <span>L</span>
        </button>
    </form>
</div>