{% extends '/player_base.html.twig' %}

{% block contents %}
    <turbo-frame id="import-audios">
        <div class="audios-dropzone">
            <h3 class="header">Seleccione un archivo de audio o un zip con varios audios</h3>

            {{ form_start(form) }}
            {{ form_widget(form, {'attr': {'placeholder': 'Arrastre un audio o un archivo zip con varios audios'}}) }}

            <div class="submit-block">
                <button type="submit">
                    <i class="fa-solid fa-cloud-arrow-up fa-xl"></i>
                    Importar
                </button>
            </div>
            {{ form_end(form) }}

            {% if errors %}
                <div class="audios-import-errors">
                    <h4 class="error-header">Los siguientes archivos no se pudieron importar</h4>
                    <ul class="failed-paths">
                        {% for error in errors %}
                            <li class="failed-path">
                                {{ error.audioFilePath | split('/')|last }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        {% include 'busy_modal.html.twig' with {'message': 'Por favor espere mientras se importan los audios'} %}

    </turbo-frame>

{% endblock %}