<div id="playlist-actions-{{ audio.id }}"
     class="playlist-actions"
        {{ stimulus_controller('active-audio-class', {'audioId': audio.id}) }} >

    {% if queued %}
        <form action="{{ path('audios.removeFromPlayingQueue', {'id': audio.id}) }}" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button class="_inv-button" type="submit">
                <i class="fa-solid fa-circle-minus fa-lg"
                   title="Eliminar de la cola de reproducción"></i>
            </button>
        </form>
    {% else %}
        <form action="{{ path('audios.addToPlayingQueue', {'id': audio.id}) }}" method="post">
            <input type="hidden" name="_method" value="post">
            <button class="_inv-button" type="submit">
                <i class="fa-solid fa-circle-plus fa-lg"
                   title="Añadir a la cola de reproducción"></i>
            </button>
        </form>
    {% endif %}
</div>
