.albums-player-selector {
  position: relative;
  display: flex;
  background-color: var(--sub-color-dark);
  transition: background-color 2s;
  border-radius: 12px;
  z-index: 10000;

  * {
    cursor: pointer;
  }

  &  .albums-tab {
    border-radius: 12px 0 0 12px;
    padding: 9px 15px;
    border: 1px solid gray;
    transition: color 500ms;
  }

  &  .player-tab {
    padding: 9px 15px;
    border: 1px solid gray;
    border-radius: 0 12px 12px 0;
    border-left-width: 0;
    transition: color 500ms;
  }

  & > .switch {
    position: absolute;
    border-radius: 12px 0 0 12px;
    background-color: var(--sub-color-light);
    z-index: -100;
    width: 50%;
    height: 35px;
  }

  &.-admin {
    .switch {
      left: 0;
      animation: animateToAlbums 500ms;
      border-radius: 12px 0 0 12px;
    }

    .fa-compact-disc {
      color: var(--accent-color-light)
    }

    .fa-circle-play {
      color: var(--accent-color-dark)
    }
  }

  &.-player {
    .switch {
      right: 0;
      animation: animateToPlayer 500ms;
      border-radius: 0 12px 12px 0;
    }

    .fa-circle-play {
      color: var(--accent-color-light)
    }

    .fa-compact-disc {
      color: var(--accent-color-dark)
    }
  }
}


@keyframes animateToPlayer {
  from {
    left: 0;
    border-radius: 12px 0 0 12px;
  }
  to {
    left: 50%;
    border-radius: 0 12px 12px 0;
  }
}

@keyframes animateToAlbums {
  from {
    left: 50%;
    border-radius: 0 12px 12px 0;
  }
  to {
    left: 0;
    border-radius: 12px 0 0 12px;
  }
}
