@import "albums-player-selector";


.jukebox-player {
  display: flex;
  flex-direction: column;
  height: 97vh;
  margin-top: 80px;

  & > .albums-player-selector {
    transition: display 1s;
    position: fixed;
    top: 25px;
    right: 35%;
  }

  .player-bar {
    position: fixed;
    bottom: 8px;
    left: 1%;
    width: 98%;
  }

  @media (min-width: 768px) {
    & > .albums-player-selector {
      right: 20px;
    }

    & .audios-list {
      margin-right: 15px;
    }
  }
}
