.albums-list {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .album {
    margin-bottom: 25px;

    .image {
      width: 100%;
      height: 340px;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 90px;

    .album {
      margin-right: 25px;
      width: 200px;
      height: 200px;

      .image {
        height: 200px;
      }
    }
  }
}

.albums-list .album {
  position: relative;
  cursor: pointer;

  .image {
    object-fit: cover;
    cursor: pointer;
  }

  ._inv-button {
    width: 100%;
  }

  .album-name {
    position: absolute;
    bottom: 8px;
    left: 27%;
  }
}