
.main-playlist-audios {
  > .album-image {
    width: 100%;
    height: 280px;
    object-fit: fill;
  }

  @media (min-width: 768px) {
    padding: 55px;

    > .album-image {
      width: 300px;
    }
  }
}

.albums-list {
  display: flex;
  flex-direction: column;

  .audio-album {
    margin-bottom: 25px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    .audio-album {
      margin-right: 25px;
      width: 250px;
      height: 250px;
    }
  }
}

.audio-album {
  position: relative;
  cursor: pointer;
  border: 1px solid gray;

  &.-selected {
    background-color: cadetblue;
  }

  > .image {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  > .name {
    margin: 0;
  }

  > .album-name {
    position: absolute;
    bottom: 8px;
    left: 27%;
  }
}