@import "jukebox/jukebox";
@import "player/player";
@import "album/album";
@import "navbar";
@import "config";

:root {
  --main-muted: #e9d8a6;
  --sub-muted-light: #94d2bd;
  --sub-muted-dark: #0a9396;
  --accent-muted-light: #ca6702;
  --accent-muted-dark: #ae2012;

  --main-vibrant: #e9d8a6;
  --sub-vibrant-light: #94d2bd;
  --sub-vibrant-dark: #0a9396;
  --accent-vibrant-light: #ca6702;
  --accent-vibrant-dark: #ae2012;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--main-muted);
  transition: background-color 2s;
}

ul {
  list-style-type: none;
  padding: 0;
}

._inv-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

