{% extends 'player_base.html.twig' %}

{% block contents %}
    <ul id="albums-list" class="albums-list">
        {% for album in albums %}
            <li {{ stimulus_action('jukebox-player', 'showPlayer') }}>
                <form action="{{ path('player.play.album', {'name': album.name}) }}" method="POST">
                    <div class="album">
                        <button class="_inv-button" type="submit">
                            <img class="image" src="{{ asset('storage/covers/' ~ albumCover(album.name)) }}" alt="">
                            {% if album.name == '__unknown__' %}
                                <p class="album-name"> Album Desconocido </p>
                            {% elseif not album.hasCover %}
                                <p class="album-name"> {{ album.name }} </p>
                            {% endif %}
                        </button>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
