{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('library.source') }}" method="post">
        <button type="submit">Import</button>
    </form>

    <div class="jukebox-player"
         data-controller="jukebox-player"
         data-jukebox-player-target="self">
        {% include 'jukebox/album_player_selector.html.twig' %}

        {% block contents %} {% endblock %}
    </div>
{% endblock %}