{% extends 'base.html.twig' %}

{% block body %}
    <div class="jukebox-player" data-controller="navbar" data-navbar-target="jukebox">
        {% include 'navbar.html.twig' %}
        {% include 'jukebox/player_shortcut.html.twig' %}
        <section class="contents-section">
            {% block contents %} {% endblock %}
        </section>
    </div>

{% endblock %}