@import "audios-browser";
@import "audios-dropzone";
@import "audio-details";


.play-preview {
  display: flex;
  align-items: center;

  .stop-action {
    display: none;
  }

  &.-play {
    .play-action {
      display: none;
    }

    .stop-action {
      display: block;
    }
  }
}


