
.audio-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  color: var(--accent-muted-dark);
  width: 90%;
  margin: 10px auto auto;
  background-color: var(--sub-muted-dark);
  border-radius: 2px;

  .details-form {
    max-width: 1200px;
    width: 100%;
    height: 60vh;
    overflow: auto;
    padding: 10px;

    label {
      margin-top: 25px;
    }

    .text-input {
      width: 100%;
    }
  }

  .btns-bar {
    margin-top: 30px;
    display: flex;
    justify-content: end;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }


  @media (min-width: 768px) {

    .details-form {
      display: grid;
      column-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row dense;
    }

    .area-c1 {
      grid-area: c1;
    }

    .area-c2 {
      grid-area: c2;
    }

    .form-input {
    }

    .form-input.lyrics {
      grid-column: 1 / span 3;
    }
  }


  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
