
.audios-browser {
  position: relative;
  padding: 50px 10px;
  height: 90%;
  color: var(--accent-muted-light);
  overflow: auto;

  .audio-list {
    width: 100%;

    .actions {
      text-align: center;
    }

    th {
      position: sticky;
      top: -50px;
      text-align: left;
      background-color: var(--sub-muted-dark);
      color: var(--accent-vibrant-light);
      padding: 10px;
      z-index: 1000;
    }

    td {
      padding: 10px 10px 10px 15px;
      background-color: var(--sub-vibrant-dark);

      * {
        color: var(--accent-vibrant-light);
      }
    }

    tr {
      cursor: pointer;

      &:not(:first-child) {
        opacity: 0.3;

        &:hover {
          color: var(--accent-muted-light);
          opacity: 0.8;
        }
      }
    }

    @media (min-width: 768px) {
      width: 95%;
    }

    @media (max-width: 576px) {
      .priority-2, .priority-3, .priority-4, .priority-5, .priority-6 {
        display: none
      }
    }

    @media (max-width: 768px) {
      .priority-3, .priority-4, .priority-5, .priority-6 {
        display: none
      }
    }

    @media (max-width: 992px) {
      .priority-4, .priority-5, .priority-6 {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      .priority-5, .priority-6 {
        display: none;
      }
    }

    @media (max-width: 1400px) {
      .priority-6 {
        display: none;
      }
    }
  }
}