#import-audios {
  &:not([busy]) {
    .busy-modal {
      display: none;
    }
  }
}

.audios-dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: var(--accent-muted-light);

  .required {
    display: none;
  }

  .header {
    margin-bottom: 40px;
  }

  .submit-block {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin-top: 20px;

    button {
      padding: 7px;
      border-radius: 5px;
      background-color: var(--sub-muted-dark);
      color: var(--accent-vibrant-dark);
      cursor: pointer;
    }
  }

  .audios-import-errors {
    margin-top: 30px;

    .error-header {
      color: var(--accent-vibrant-light);
      margin-bottom: 35px;
    }

    .failed-paths {
      list-style-type: disc;

      .failed-path {
        margin-left: 35px;
      }
    }
  }

  @media (min-width: 768px) {
    height: 100%;
    .submit-block {
      justify-content: flex-end;
    }

    .audios-import-errors {
      max-height: 270px;
      overflow: auto;
    }
  }
}