{% extends 'player_base.html.twig' %}

{% block contents %}
    <ul id="albums-list" class="albums-list">
        {% for album in albums %}
            <li data-action="click->jukebox-player#showPlayer">
                <form action="{{ path('player.play.album', {'name': album.name}) }}" method="POST">
                    <button class="_inv-button" type="submit">
                        <div class="audio-album">
                            <img class="image" src="{{ asset('covers/' ~ albumCover(album.name)) }}" alt="">
                            {% if album.name == '__unknown__' %}
                                <p class="album-name"> Album Desconocido </p>
                            {% elseif not album.hasCover %}
                                <p class="album-name"> {{ album.name }} </p>
                            {% endif %}
                        </div>
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>

    {{ render(path('player.controls')) }}
{% endblock %}
