{% extends 'player_base.html.twig' %}

{% block contents %}
    <ul id="albums-list" class="albums-list">
        {% for name in albumNames %}
            <li data-action="click->jukebox-player#showPlayer">
                <div class="audio-album">
                    <img class="image"
                         src="https://cdn.xxl.thumbs.canstockphoto.es/disco-de-vinilo-clipart-vectorial_csp17569054.jpg"
                         alt="">
                    <p class="name">{{ name }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>

    {{ render(path('player.controls')) }}
{% endblock %}
