{% set isPlayer = app.request.attributes.get('_route') == 'playlists.main' %}

<div class="albums-player-selector {{ isPlayer ? '-player' : '-admin' }}">
    <div class="switch"></div>

    <form action="{{ path('library.albums') }}">
        <button class="albums _inv-button">
            <i class="fa-solid fa-compact-disc fa-lg"></i>
        </button>
    </form>

    <form action="{{ path('playlists.main') }}">
        <button class="player _inv-button">
            <i class="fa-solid fa-circle-play fa-lg"> </i>
        </button>
    </form>
</div>