{% set isPlayer = app.request.attributes.get('_route') == 'player.index' %}

<div class="albums-player-selector {{ isPlayer ? '-player' : '-albums' }}">
    <div class="switch"></div>

    <form action="{{ path('albums.index') }}">
        <button class="albums _inv-button">
            <i class="fa-solid fa-compact-disc fa-lg"></i>
        </button>
    </form>

    <form action="{{ path('player.index') }}">
        <button class="player _inv-button">
            <i class="fa-solid fa-circle-play fa-lg"> </i>
        </button>
    </form>
</div>