.player-controls {
  background-color: var(--sub-color-dark);
  position: fixed;
  bottom: 8px;
  left: 1%;
  width: 98%;
  display: flex;
  align-items: center;
  padding: 20px 20px 7px;
  border-radius: 7px;
  opacity: 0.7;

  &:hover {
    opacity: 1.0;
  }

  > .playing-progress {
    width: 85%;
    margin-left: 28px;
  }

  @media (min-width: 768px) {
    > .playing-progress {
      width: 90%;
    }
  }
}

.progress-bar {
  box-sizing: border-box;
  position: relative;
  padding-top: 10px;
  align-items: center;
  width: 100%;
  height: 25px;

  > .played {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 9px;
    height: 5px;
    background-color: var(--accent-color-light);
    z-index: 1000;
  }

  .position {
    background-color: var(--accent-color-dark);
    height: 12px;
    width: 11px;
    border-radius: 100%;
  }

  > .remain {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--sub-color-light);
  }
}

.progress-time {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  font-size: 0.9rem;

}

.play-action {
  padding-bottom: 20px;

  &:not(.fa-music) {
    cursor: pointer;
  }
}
